name: Deploy to GitHub Pages

on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  deploy-to-github-pages:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '9.0.x'

    - name: Restore dependencies
      run: dotnet restore CircuitAdventures.Client/CircuitAdventures.Client.csproj

    - name: Build project
      run: dotnet build CircuitAdventures.Client/CircuitAdventures.Client.csproj --configuration Release --no-restore

    - name: Publish Blazor WebAssembly app
      run: dotnet publish CircuitAdventures.Client/CircuitAdventures.Client.csproj -c Release -o release --nologo

    - name: Change base href in index.html
      run: |
        sed -i 's|<base href="/" />|<base href="/circuitadventures/" />|' ./wwwroot/index.html

    - name: Add wwwroot/.nojekyll file
      run: touch ./wwwroot/.nojekyll

    - name: Add 404.html for SPA routing
      run: cp ./wwwroot/index.html ./wwwroot/404.html

    - name: Setup Pages
      uses: actions/configure-pages@v4

    - name: Upload artifact
      uses: actions/upload-pages-artifact@v3
      with:
        path: 'release/wwwroot'

    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v4
